{% extends 'tagr/base.html' %}
{% load static %}
{% block content %}

<section id='tagr_list'>
	
	<h1 class='sectionTitle'>Think and Grow Rich Challenge</h1>
	<div class='grid-3 text-muted pb-3'>
		<p>Read each Chapter</p>
		<p>Reflect on what you read</p>
		<p>Journal your thoughts</p>
	</div>
	<p class='pt-3 pb-4' ><a class='btn btn-info btn-lg' href="{% static 'img/Think-And-Grow-Rich_2008.pdf' %}">Get the book!</a></p>

	<table class="table table-striped table-dark text-left">
		<thead>
			<th width='20%'>Chapter</th>
			<th width="80%">Questions</th>
		</thead>
		<tbody>
			<tr>
				<td>Chapter 1</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 1 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 2</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 2 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 3</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 3 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 4</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 4 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 5</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 5 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 6</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 6 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 7</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 7 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 8</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 8 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 9</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 9 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 10</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 10 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 11</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 11 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 12</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 12 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 13</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 13 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 14</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 14 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Chapter 15</td>
				<td>
				{% for post in post_list %}	
					{% if post.chapter == 15 %}
						<p class='p-2'><a href="{% url 'tagr:post_update' pk=post.pk chapter=post.chapter %}">{{post.question}}</a>
						{% if post.message %}
						<div class='postmessage'>
							<p>{{post.message}}</p><br>
							<p>Last Updated: {{post.create_date}}</p>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>

</section>	
{% endblock %}