{% extends 'foods/base.html' %}
{% block content %}
<section id='food_detail'>
<h1 class='sectionTitle'>Food Detail</h1>


<table class="table table-striped">
		<thead>
			<th>Item</th>
			<th>Servings</th>
			<th>Calories</th>
			<th>Date</th>
		</thead>
		<tr>
			<td>{{food.food_item}}</td>
			<td>{{food.servings}}</td>
			<td>{{food.calories}}</td>
			<td>{{food.create_date}}</td>
		</tr>
	</table>
	<div class="grid-2">
		<a class='btn btn-info' href="{% url 'foods:food_update' pk=food.pk %}">Update</a>
		<a class='btn btn-primary' href="{% url 'foods:food_delete' pk=food.pk %}">Delete</a>
	</div>
</section>
{% endblock %}