{% extends 'accounts/base.html' %}
{% block body_block %}
<section id='main' class='login'>
<h1>Login</h1>
<p><li>Please use your email address as Login</li></p>
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<input class='update_button' type="submit" value="Login">
</form>
<div class='nopass'>
	<h3 class='signup'>Don't have an Account...Go ahead and <a href="{% url 'accounts:signup' %}">SignUp</a></h3>
	<h3 class='forgot'><a href="{% url 'password_reset' %}">Forgot?</a></h3>
</div>
<div class='clr'></div>
</section>
{% endblock %}