{% extends 'accounts/base.html' %}
{% load account_extras %}
{% block body_block %}
<h1>Profile HTML</h1>

<h3>{{usermodel.username}}</h3>
<p>Your Goal Weight: {{usermodel.ideal_weight}}</p>
<p>Your Daily Caloric Targer: {{usermodel.ideal_calories}}</p>

<p>Carbohydrate Target: {{usermodel.ideal_carbs}}</p>
<p>Protein Target: {{usermodel.ideal_protein}}</p>
<p>Fat Target: {{usermodel.ideal_fat}}</p>
<p>Your Current Weight: {{usermodel.current_weight}}</p>

{% if usermodel.trainer_email %}
	<p>Trainer {{usermodel.trainer_email}}</p>
{% else %}
	<p>You don't have any traners yet! Go ahead and <a href="{% url 'accounts:invite_trainer' pk=user.pk %}">Invite Trainer</a></p>
{% endif %}


{% for i in range %}
	<h3>Trainees {{trainees|index:forloop.counter0}}</h3>

<div class='food_table'>
	{% if foods|index:forloop.counter0 %}
		<table class='table'>
			<thead>
				<tr>
					<td>Log Date</td>
					<td>Item</td>
					<td>Calories</td>
					<td>Servings</td>
					<td>Carbs</td>
					<td>Protein</td>
					<td>Fat</td>
				</tr>
			</thead>
			<tbody>
			{% for food in foods|index:forloop.counter0 %}
				<tr>
					<td>{{food.create_date}}</td>
					<td>{{food.food_item}}</td>
					<td>{{food.calories}}</td>
					<td>{{food.servings}}</td>
					<td>{{food.carbs}}</td>
					<td>{{food.protein}}</td>
					<td>{{food.fat}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% endif %}
	</div>
{% endfor %}
<br><br>
<div>
<a class='btn btn-primary' href="{% url 'accounts:user_update' pk=usermodel.pk%}">Update</a>
<a class='btn btn-danger' href="{% url 'accounts:user_delete' pk=usermodel.pk%}">Delete</a>
<a class='btn btn-info' href="{% url 'accounts:user_change_password' %}">Change Password</a>
<a class='btn btn-success' href="{% url 'accounts:invite_trainer' pk=user.pk %}">Invite Trainer</a>
</div>
{% endblock %}