<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>ModiSidoM</title>
	<meta name="description" content="Over 100 of the Best Books and Albums Aggregated from the Internet">
	<meta name='keywords' content="books, albums, books to read before you die">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/fancybox/jquery.fancybox.css'%}">
	<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" />
	<link href="{% static 'css/bootstrap-theme.css'%}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'css/slippry.css'%}">
	<link href="{% static 'css/style.css'%}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'css/default.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css'%}">
	<script src="{% static 'css/modernizr.custom.js'%}"></script>
	

</head>
<body>

<div class='container'>
<header>
	<div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
  		<div class="container">
    		<nav class='navbar'>
				<span class='open-slide'>
					<a href="#" onclick="openSlideMenu()">
						<svg width='30' height='40'>
							<path d='M0,5 30,5' stroke='#fff' stroke-width='5'/>
							<path d='M0,14 30,14' stroke='#fff' stroke-width='5'/>
							<path d='M0,23 30,23' stroke='#fff' stroke-width='5'/>	
						</svg>
					</a>
				</span>
				<h1 class='main'>modiSidom</h1>	
			</nav>
			<div class="navigation">
				<div id='side-menu' class='side-nav'>
					<a href="#" class='btn-close' onclick="closeSlideMenu()">&times;</a>
					<a href="{% url 'index' %}"><span class='home'>Home</span></a>
					<li class="dropbtn"><a href="{% url 'books:index' %}">Books</a></li>
					<li><a href="{% url 'albums:index' %}">Albums</a></li>
					<li class='app_title'>Think and Grow Rich</li>
					<li><a href="{% url 'tagr:post_list' %}">Questions</a></li>
					<li class='app_title'>Tracker App</li>
					<li><a href="{% url 'reports:create_new_entry' %}">Create New Entry</a></li>
					<li><a href="{% url 'reports:report_list' %}">Reports</a></li>
					<li><a href="{% url 'expenses:expense_list' %}">Expenses</a></li>
					<li><a href="{% url 'exercises:exercise_list' %}">Exercises</a></li>
					<li><a href="{% url 'foods:food_list' %}">Food</a></li>
					{% if user.is_authenticated %}
					<li class='app_title'>My Account</li>
					<li><a href="{% url 'accounts:user_detail' pk=user.pk %}">My Account</a></li>
					<li><a href="{% url 'accounts:user_logout' %}">Logout</a></li>
					{% endif %}
				</div>
			</div>
  		</div>
	</div>
</header>
<div class='clr'></div>
	{% block body_block%}
	{% endblock %}
<div class='clr'></div>

<section id="contact" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading">
					<h3><span>Have a Comment, Want to make a Suggestion</span></h3>
				</div>
				<div class="sub-heading">
					<p>
						 Reach out and Touch Someone...If you have an idea, a suggestion, a fix, a comment, Feel free to drop a message.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4><i class="icon-envelope"></i><strong>Contact form</strong></h4>
			<!-- start contact form -->
					<div class="cform" id="contact-form">
						<div id="sendmessage">
								 Your message has been sent. Thank you!
						</div>
						<form method="POST" action="{% url 'contactform' %}">
							<div class="form-group">
								<label for="name">Your Name</label>
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<label for="email">Your Email</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<label for="subject">Subject</label>
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
								<div class="validation"></div>
							</div> 
								<button type="submit" class="btn btn-lg btn-theme pull-left">Send Message</button>
						</form>

					</div>
						<!-- end contact form -->
					<div class="clear"></div>
			</div>
			<div class="col-md-6 moreinfo">
				<h3>Want to know more</h3>
				<a  href="https://www.linkedin.com/in/sunilmodi" target="_blank"><img class='linkedin' src="{% static 'css/linkedin.png' %}"></a>
				<a href="https://www.imdb.com/name/nm4182420/" target="_blank"><img class='imdb' src="{% static 'css/imdb.png' %}"></a>
				<a href="https://www.youtube.com/watch?v=piPkvcLwIjI" target="_blank"><img class='youtube' src="{% static 'css/youtube.png' %}"></a>
				<a href="https://www.amazon.com/Vipassana-Experience-Breathe-Observe-Repeat-ebook/dp/B01MT4XCG1?tag=modisoperan08-20" target="_blank"><img class='amazon' src="{% static 'css/amazon.png' %}"></a>		
			</div>
		</div>
	</div>
</section>
<div class='clr'></div>
<footer>
	<div class="verybottom">
		<div class="container">
			<p>modiSidom &copy; 2018 </p>
		</div>
	</div>
</footer>

<a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
</div>


<!-- javascript -->
<script type="text/javascript" src="{% static 'css/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'css/jquery.easing.js' %}"></script>
<script src="{% static 'css/classie.js' %}"></script>
<script src="{% static 'css/bootstrap.js' %}"></script>
<script src="{% static 'css/slippry.min.js' %}"></script>
<script src="{% static 'css/nagging-menu.js' %}"></script>
<script src="{% static 'css/jquery.nav.js' %}"></script>
<script src="{% static 'css/jquery.scrollTo.js' %}"></script>
<script src="{% static 'css/jquery.fancybox.pack.js' %}"></script> 
<script src="{% static 'css/jquery.fancybox-media.js' %}"></script> 
<script src="{% static 'css/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'css/imagesloaded.js' %}"></script>
<script src="{% static 'css/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'css/validate.js' %}"></script>	
<script src="{% static 'css/AnimOnScroll.js' %}"></script>
<!-- <script src="{% static 'css/jquery.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'css/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'css/dataTables.bootstrap.min.js' %}"></script>
    <script>
        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
<script>
	$(document).ready(function(){
	  $('#slippry-slider').slippry(
		defaults = {
			transition: 'vertical',
			useCSS: true,
			speed: 5000,
			pause: 3000,
			initSingle: false,
			auto: true,
			preload: 'visible',
			pager: false,		
		} 
	  
	  )
	});
</script>


<script type="text/javascript">
	$(document).ready(function(){
		$(".table").DataTable({
        	"order": [[ 0, "desc" ]]
    	});
	});
</script>
<script type="text/javascript">
	function openSlideMenu(){
		document.getElementById('side-menu').style.width = '350px';
		document.getElementById('main').style.marginLeft = '350px';
			
	}
	function closeSlideMenu(){
		document.getElementById('side-menu').style.width = '0px';
		document.getElementById('main').style.marginLeft = '0px';
			
	}
</script>
</body>
</html>