{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<section id='showcase'>
	<div class='show_con'>
	<h1>Welcome to ModiSidoM</h1>
	<h4>Here you can find</h4>
	<h4>The Real Definitive Guide to the Best Books to Read and Music to Listen to Before you Die</h4>
	<h4>Ever Read Think and Grow Rich...Now you can track your progress</h4>
	<h4>A new way to examine your expenses and fitness!</h4>
	</div>
</section>

<div class='clr'></div>

<div id='newsletter'>

</div>

<div class='clr'></div>

<section id='images'>
	<div class='image'>
		<a href="{% url 'books:index' %}">
			<img src="{% static 'css/book.png' %}">
			<h4>100+ Greatest Books and Albums Ranked</h4>
			<p>A Compiled List of the 100 and more Greatests Novels to Read and Albums to Listen To</p>
		</a>
	</div>
	<div class='image'>
		<a href="{% url 'albums:index' %}">
			<img src="{% static 'css/music.png' %}">
			<h4>100+ Greatest Albums Ranked</h4>
			<p>A Compiled List of the 100 and more Greatests Albums to groove to before you die...</p>
		</a>
	</div>
	<div class='image'>
		<a href="{% url 'index' %}">
			<img src="{% static 'css/plus.png' %}">
			<h4>Think and Grow Rich Challenge</h4>
			<p>Read the Book, Document your journey</p>
		</a>
	</div>

	<div class='image'>
		<a href="{% url 'index' %}">
			<img src="{% static 'css/plus.png' %}">
			<h4>Fitness and Expense Tracker</h4>
			<p>Ever thought about the Quality of your Expense?  Here's a new way to examine and track what you spend your money on</p>
		</a>
	</div>
</section>

<div class='clr'></div>





{% endblock %}