{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<section id="intro">
	<ul id="slippry-slider">
	  <li>
		<a href="{% url 'intro' %}"><img src="{% static 'css/booksback_1.jpg' %}" alt="Welcome to ModiSidoM!"></a>
	  </li>
	  <li>
		<a href="{% url 'books:index' %}"><img src="{% static 'css/booksback_1.jpg' %}"  alt="The Definitive Guide to the Best Books to Read in Your Lifetime"></a>
	  </li>
	  <li>
		<a href="{% url 'albums:index' %}"><img src="{% static 'css/vinyl background.jpg' %}" alt="All the Greatest Music ever Created, Ranked and Sorted for Your Enjoyment!"></a>
	  </li>
	</ul>
</section>

<section id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading">
					<h3><span>About ModiSidoM</span></h3>
				</div>
				<div class="sub-heading">
					<p>
						 Creating Useful Applications that Expand Your Horizons
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="team-box">
					<img src="{% static 'css/book.png' %}" alt="" class="img-responsive" />
					<div class="roles">
						<a href="{% url 'books:index' %}"><h5><strong>Books to Read</strong></h5>
						<p>
							A compiled list of the Greatest Books to ever read in your Lifetime...
						</p></a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team-box">
					<img src="{% static 'css/music.png' %}" alt="" class="img-responsive" />
					<div class="roles">
						<a href="{% url 'albums:index' %}"><h5><strong>Albums to Enjoy</strong></h5>
						<p>
							Aggregated List and Rankings of the Greatest Albums ever created to date!
						</p></a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team-box">
					<img src="{% static 'css/plus.jpg' %}" alt="" class="img-responsive" />
					<div class="roles">
						<a href="{% url 'tagr:post_list' %}"><h5><strong>Think And Grow Rich</strong></h5>
						<p>
							Read the Book, Track your thoughts, Aim for a Higher Purpose
						</p></a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="team-box">
					<img src="{% static 'css/plus.png' %}" alt="" class="img-responsive" />
					<div class="roles">
						<a href="{% url 'reports:report_list' %}"><h5><strong>Fitness Tracking</strong></h5>
						<p>
							Track the Quality of What You Eat, How Close to Your Nutritional Goals You Are and the Quality of the Calories you Consume
						</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="works" class="section gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading">
					<h3><span>What We're Working On</span></h3>
				</div>
				<div class="sub-heading">
					<p>
					 With a variety of Hobbies and Technology at our Beck and Call, we not only have the ability to simply create but we can now adapt to ever changing landscape of increasing interests and challenges.
						</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="grid effect" id="grid">
				<li>
					<a class="fancybox" data-fancybox-group="gallery" title="Portfolio name" href="{% url 'books:index' %}">Books
						<img src="{% static 'css/portfolio/1.jpg' %}" alt="" />
					</a>						
				</li>
				<li><a href="{% url 'albums:index' %}" class="fancybox" data-fancybox-group="gallery" title="Portfolio name">Albums<img src="{% static 'css/portfolio/2.jpg' %}" alt="" /></a></li>
				<li><a href="{% url 'tagr:post_list' %}" class="fancybox" data-fancybox-group="gallery" title="Portfolio name">TAGR<img src="{% static 'css/portfolio/3.jpg' %}" alt="" /></a></li>
				<li><a href="{% url 'reports:report_list' %}" class="fancybox" data-fancybox-group="gallery" title="Portfolio name">Fitness<img src="{% static 'css/portfolio/4.jpg' %}" alt="" /></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}