{% extends 'books/base.html' %}
{% block content %}
<h1>books API</h1>

<h3>Welcome to the Books API</h3>
<p>Fairly simple, only read access</p>
<p>Read the full list</p>
<p>Hone in on individual title</p>
<p>Available in JSON as well</p>

<p>Examples</p>
<p>Read the full list</p>
<p><a href="{% url 'api:api_book_list' %}" target="_blank">Full List of Books via HTML</a></p>
<p><a href="{% url 'api:api_book_list' %}?format=json " target="_blank">Full List of Books via JSON</a> </p>


{% endblock %}