{% extends 'books/base.html' %}
{% block body_block %}



<section id='book_showcase'>
	<div class='book_con'>
		<h1><strong>100+ Books Ranked to Read before you die...</strong></h1>
		<p>The following list is comprised of an aggregation of the 10 websites (listed below) resulting in this Master List of commonalites which indicate the most popular books of all time.  In short, the more appearances the more popular.</p>
		<p>Each Books contains links to Amazon and Wikipedia if you want more information about the book</p>
		<p><strong>Did your favorite book make the list?</strong></p>
	</div>
	<div class='nerdinfo'>
		<a href="{% url 'apiinfo' %}"><h3><strong>nerd Info!</strong></h3>
		<p>Is there an API?<span>YES!! :)</span></p>
		<p>Do I have to authenticate?<span> No! :)...Whew!</span></p>
		<p>But that means...<span>Yup, it's read-only</span></p>
		<p>Wow this is really cool!  How did you put all this together?</p>
		<p><span>Well if you must know, it was just simply scraping websites with Beautiful Soup, using Django as the back end and a little magic :)</span></p>
		<p>Enjoy!</p></a>
	</div>
</section>

<div class='clr'></div>


{% if book_list %}
	<table class='table'>
		<thead>
			<tr>
				<td>Number of Lists</td>
				<td>Title <span class='tablespan'>(Amazon)</span></td>
				<td>Author <span class='tablespan'>(Wiki)</span></td>
				<td>Publication Date</td>
			</tr>
		</thead>
		<tbody>
		{% for book in book_list %}
			<tr>
				<td>{{book.occurrences}}</td>
				<td><a href="{{book.amazonlink}}/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&linkCode=as2&tag=modisoperan08-20" target="_blank">{{book.title}}</a></td>
				<td><a href="{{book.wikilink}}" target="_blank">{{book.author}}</a></td>
				<td>{{book.pubdate}}</td>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
	
<section id='booksourcelist'>
	<ul>
	<li><a href="http://www.businessinsider.com/100-books-everyone-should-read-amazon-goodreads-2015-3">Business Insider</a></li>

	<li><a href="https://www.listchallenges.com/bbcs-top-100-books-you-need-to-read-before-you-die/vote">List Challenge</a></li>

	<li><a href="https://www.realsimple.com/work-life/entertainment/amazon-100-book-list">Real Simple</a></li>

	<li><a href="https://archive.nytimes.com/www.nytimes.com/library/books/072098best-novels-list.html">NY Times</a></li>

	<li><a href="https://www.abebooks.com/books/100-books-to-read-in-lifetime/index.shtml">Abe Books</a></li>

	<li><a href="https://www.artofmanliness.com/2008/05/14/100-must-read-books-the-essential-mans-library/">Art of Manliness</a></li>

	<li><a href="http://www.modernlibrary.com/top-100/100-best-novels/">Modern Library</a></li>

	<li><a href="http://www.harvard.com/ajax/top100/">Harvard List</a></li>

	<li><a href="https://www.theguardian.com/books/2015/aug/17/the-100-best-novels-written-in-english-the-full-list">Guardian</a></li>

	<li><a href="https://www.librarything.com/bookaward/Newsweek%27s+Top+100+Books%3A+The+Meta-List">Library Think</a></li>
</ul>
</section>

{% endblock %}
