{% extends 'books/base.html' %}
{% block content %}




<section id='book_showcase'>
	<h1 class='sectionTitle'>The Definitive List of Novels to Read in a Lifetime!</h1>
	<div class='grid-2 hideOnSmall'>
		<div class='bookContent'>
			<p class='bookText pl-2 pr-5 pb-2 text-left'>The following list is comprised of an aggregation of the 10 websites (listed below) resulting in this Master List of commonalites which indicate the most popular books of all time.  In short, the more appearances the more popular.  Each Books contains links to Amazon and Wikipedia if you want more information about the book</p>
			<p class='question'>Did your favorite book make the list?</p>
		</div>
		<div class='nerdInfo bg-dark'>
			<p><span class='text-info'>Is there an API?</span>  YES!! :)</p>
			<p><span class='text-info'>Do I have to authenticate?</span>  No! :)...Whew!</p>
			<p><span class='text-info'>But that means...</span>Yup, it's read-only</p>
			<p>Wow this is really cool!  How did you put all this together?</p>
			<p><a href="https://github.com/linusidom/booksproject" target='_blank'>Check out all the code Here</a></p>
		</div>
	</div>
</section>

<div class='clr'></div>

<div class="tableList container bg-dark p-4 mt-4 mb-4">
{% if book_list %}
<div class='w-100 text-white'>
	<table class='table dataTable table-striped table-dark w-auto'>
		<thead>
			<tr>
				<td>Rank</td>
				<td>Number of Lists</td>
				<td>Title <span class='tablespan'>(Amazon)</span></td>
				<td>Author <span class='tablespan'>(Wiki)</span></td>
				<td class='hideOnSmall'>Publication Date</td>
			</tr>
		</thead>
		<tbody>
		{% for book in book_list %}
			<tr>
				<td>{{book.id}}</td>
				<td>{{book.occurrences}}</td>
				<td><a href="{{book.amazonlink}}/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&linkCode=as2&tag=modisoperan08-20" target="_blank">{{book.title}}</a></td>
				<td><a href="{{book.wikilink}}" target="_blank">{{book.author}}</a></td>
				<td class='hideOnSmall'>{{book.pubdate}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>	
{% endif %}
</div>
<section id='SourceList' class='hideOnSmall'>
	<ul>
	<li><a href="http://www.businessinsider.com/100-books-everyone-should-read-amazon-goodreads-2015-3">Business Insider</a></li>

	<li><a href="https://www.listchallenges.com/bbcs-top-100-books-you-need-to-read-before-you-die/vote">List Challenge</a></li>

	<li><a href="https://www.realsimple.com/work-life/entertainment/amazon-100-book-list">Real Simple</a></li>

	<li><a href="https://archive.nytimes.com/www.nytimes.com/library/books/072098best-novels-list.html">NY Times</a></li>

	<li><a href="https://www.abebooks.com/books/100-books-to-read-in-lifetime/index.shtml">Abe Books</a></li>

	<li><a href="https://www.artofmanliness.com/2008/05/14/100-must-read-books-the-essential-mans-library/">Art of Manliness</a></li>

	<li><a href="http://www.modernlibrary.com/top-100/100-best-novels/">Modern Library</a></li>

	<li><a href="http://www.harvard.com/ajax/top100/">Harvard List</a></li>

	<li><a href="https://www.theguardian.com/books/2015/aug/17/the-100-best-novels-written-in-english-the-full-list">Guardian</a></li>

	<li><a href="https://www.librarything.com/bookaward/Newsweek%27s+Top+100+Books%3A+The+Meta-List">Library Think</a></li>
</ul>
</section>

{% endblock %}
